<!DOCTYPE html>
<html lang="en">

<%- include('comp/header') %>

    <body>
        <div class="container-scroller">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="ps-lg-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates,
                                and more with this template!</p>
                            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"
                                target="_blank" class="btn me-2 buy-now-btn border-0">Buy Now</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i
                                class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white mr-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('comp/navbar') %>

            <div class="container-fluid page-body-wrapper">

                <!-- Sidebar -->
                <%- include('comp/sidebar') %>

                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title text-center mb-5" style="font-size: 42px;">Add Blogs Page</h4>
                                        <form class="forms-sample" action="/addBlogs" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="title">Title :-</label>
                                                <input type="text" class="form-control" id="title" placeholder="Enter Blog Title" name="title">
                                            </div>
                                            <div class="form-group">
                                                <label>Blog Image Upload :-</label>
                                                <input type="file" name="blogImage" class="file-upload-default" id="fileUpload" onchange="updateFileName()">
                                                <div class="input-group col-xs-12">
                                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Blog Image" id="fileName">
                                                    <span class="input-group-append">
                                                    </span>
                                                    <button class="file-upload-browse btn btn-gradient-primary py-3" type="button" onclick="document.getElementById('fileUpload').click();">Upload</button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="blog">Blog Description :-</label>
                                                <textarea class="form-control" id="blog" rows="4" name="blog" placeholder="Enter Blogs"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                                            <a class="btn btn-light" href="/">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('comp/footer') %>

            <script>
                const updateFileName = () => {
                    var fileInput = document.getElementById("fileUpload");
                    var fileName = fileInput.files[0].name;
                    document.getElementById("fileName").value = fileName; 
                }
            </script>
    </body>


</html>